*~
*.o
.config
*-stamp
.deps
*.swp
Makefile
Makefile.in
autom4te.cache
configure
config.guess.cdbs-orig
config.h
config.log
config.status
config.sub.cdbs-orig
libtool
stamp-h1
wikidump_server
wikidump_sqlite
wikidump_cgi
parse_sql
wikidump_fs
libmwparser*
src/lib/expr.c
src/lib/itex2MML_yy.tab.c
